body {
	height: 100vh;
	user-select: none;
	background-color: bisque;
}

body,
label {
	overflow: hidden;
	/* 关键：flex 纵向反向排列，可将后面的h1显示到前面 */
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

input {
	display: none;
}

label {
	position: relative;
	margin: 10px;
	padding: 6px 8px;
	background-color: burlywood;
	border-radius: 5px;
	border: 2px solid #201253;
	box-shadow: gray 2px 2px 2px;
	overflow: hidden;
	cursor: pointer;
}

label::before {
	content: '';
	position: absolute;
	background-color: blanchedalmond;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .2s ease-in;
	z-index: 0;
}

label:hover::before {
	width: 100%;
	height: 0%;
}

/* 关键：选择变红按钮后面的h1，~ 只能选择后面的元素，所以h1必须后置
然后用flex反向 */
#btn_to_red:checked~#text {
	color: #fa7298;
}

label span {
	z-index: 1;
}